if SHIELD_DACTYL6X5_LEFT

config ZMK_KEYBOARD_NAME
    default "dactyl6x5"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DACTYL6X5_RIGHT

    config ZMK_KEYBOARD_NAME
        default "TAIKO-DACTYL-R"

endif

if SHIELD_DACTYL6X5_LEFT || SHIELD_DACTYL6X5_RIGHT

    config ZMK_SPLIT
        default y

endif